* {
	margin: 0;
	padding: 0;
	font-family: 'Public Sans', sans-serif;
	scroll-behavior: smooth;
}

/* Navbar Start*/

header {
	width: 100%;
	height: 10vh;
	background-color: #1564bf;
}

.navbar-el {
	float: right;

	font-size: 2.5vh;
	margin-top: 3vh;
	margin-right: 3%;
	
	list-style-type: none;
	text-decoration: none;
}

.navbar-link {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.navbar-name {
	float: left;
	list-style-type: none;
	

	font-size: 2.5vh;
	margin-top: 3vh;
	margin-left: 3%;

}

.fixed {
	position: fixed;
}

/* Navbar End */

/* Intro Section Start */
.intro {
	width: 100%;
	height: 100vh;

	animation-name: fadeIn;
	animation-duration: 2s;
}

.intro-img {
	margin-top: 5%;
	margin-left: 42.5%;

	width: 15vw;
	height: 15vw;
	border-radius: 50%;
}

.intro-heading-primary {
	margin-top: 5%;
	text-align: center;
}

.intro-heading-secondary {
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: 3%;
	text-align: center;
}

.btn-transparent {
	width: 15%;
	height: 7vh;
	background-color: rgba(0,0,0,0);
	border: 1px solid black;
	margin-left: 42.5%;
	margin-top: 5%;
}

.btn-transparent:hover {
	background-color: #1564bf;
	color: white;
}

/* Intro Section End */

/* About Section Start */
.about {
	height: 50vh;
	width: 100%;
}

.about-heading {
	margin-top: 3%;
	text-align: center;
}

.about-flex-container {
	display: flex;
	flex-direction: row;

}

.about-description {
	width: 42.5%;
	margin-top: 5%;
	margin-right: 2.5%;
	margin-left: 5%
}

.about-skills {
	width: 42.5%;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 2.5%;
}

.skill {
	width: 100%;
	height: 5vh;
	background-color: #eceff1;
	border-radius: 15px;
}

.skill:not(:first-child) {
	margin-top: 5%;
}

.skill-80 {
	width: 80%;
	height: 5vh;
	border-radius: 15px;
	background-image: linear-gradient(to right , #1de9b6 , #76ff03);
	padding-left: 15px;
	
}

.skill-90 {
	width: 80%;
	height: 5vh;
	border-radius: 15px;
	background-image: linear-gradient(to right , #ff4081 , #ffff00);
	padding-left: 15px;
}

.skill-70 {
	width: 70%;
	height: 5vh;
	border-radius: 15px;
	background-image: linear-gradient(to right , #3d5afe , #00e5ff);
	padding-left: 15px;
	
}

.skill-85 {
	width: 85%;
	height: 5vh;
	border-radius: 15px;
	background-image: linear-gradient(to right , #ffea00 , #76ff03);
	padding-left: 15px;

}
/* About Section End */

/* Projects Section Start */
.projects {
	margin-top: 5%;
	width: 100%;
	height: 60vh;
}

.projects-heading {
	text-align: center;
}

.projects-list {
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.project {
	width: 25%;
	height: 25%;
	background-color: grey;
}

/* Contact Section Start */
.contact {
	max-width: 100%;
	height: 15vh;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #eceff1;
	border-radius: 10px;
}

.contact-heading {
	color: white;
	text-align: center;
} 

.contacts {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3%;
	color: white;
}

.contact-el:not(:first-child) {
	margin-left: 15%;
}

/* Contact Section End */

footer {
	width: 100%;
	height: 40vh;
	background-color: #263238;
	margin-top: 5%;
	padding-top: 1%;	
}

.footer-heading {
	color: white;
	text-align: center;
	font-size: 1.4rem;
}

.social {
	margin-top: 5%;
}

.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3%;
}

i:not(:first-child) {
	margin-left: 5%;
}
@keyframes fadeIn {
	0% {opacity: 0;}
	75% {opacity: 0.75;}
	100% {opacity: 1;}
}